/* styles.css */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: Ubuntu, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

.first-section {
    flex: 10 0 auto;
    background-color: #903749;
    height: 648px;
}

.first-section .container {
    width: 972px;
    margin: auto;
    height: inherit;
    display: flex;
    flex-direction: column;
}

.header {
    height: auto;
}

.header ul {
    display: flex;
    gap: 32px;
    align-items: center;
    padding-top: 16px;
}

.header li {
    list-style-type: none;
}

.header .logo {
    display: flex;
    margin-right: auto;
    color: #45b59e;
    text-shadow: #2b2e4a 2px 2px 2px;
    font-size: 24px;
    font-weight: 900;
}

.header .links {
    color: #45b59e;
    text-shadow: #2b2e4a 0px 2px 0px;
    font-size: 18px;
    font-weight: 500;
}

.header .links a {
    text-decoration: none;
    color: inherit;
}

.hero-section {
    display: flex;
    flex-direction: row;
    margin: auto 0px;
    gap: 16px;
    justify-content: space-between;
}

.hero-section .left-side {
    display: flex;
    flex-direction: column;
    width: 517px;
    gap: 8px;
    justify-content: space-between;
}

.left-side .main-text {
    color: #45b59e;
    text-shadow: #2b2e4a 3px 3px 3px;
    font-size: 48px;
    font-weight: 900;
    text-align: end;
}

.left-side .secondary-text {
    color: #45b59e;
    text-shadow: #2b2e4a 1px 1px 0px;
    font-size: 18px;
    text-align: end;
}

.secondary-text a {
    /* text-decoration: none; */
    color: #e84545;
    text-shadow: #2b2e4a 3px 3px 6px;;
}

.left-side .sign-up {
    background-color: #e84545;
    color: #2b2e4a;
    border-radius: 8px;
    font-family: monospace;
    font-size: large;
    font-weight: 900;
    margin-top: 8px;
    padding: 8px 28px;
    align-self: flex-end;
    cursor: pointer;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.right-side img {
    width: 270px;
    height: 270px;
    
}

.right-side .image-caption {
    color: #45b59e;
    text-shadow: #2b2e4a 1px 1px 0px;
    font-size: 18px;
}

.image-showcase {
    flex: 5 0 auto;
    background-color: #2b2e4a;
    height: 432px;
}

.image-showcase .container {
    width: 1024px;
    margin: auto;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-showcase .showcase-title {
    color: #45b59e;
    text-shadow: #2b2e4a 3px 3px 3px;
    font-size: 36px;
    font-weight: 900;
    width: fit-content;
    align-self: center;
    margin-bottom: 32px;
}

.image-showcase .img-items {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.img-items .image-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 220px;
    text-align: center;
}

.image-item img {
    border: solid 3px #e84545;
    border-radius: 10px;
}

.image-item .description {
    color: #45b59e;
    text-shadow: #2b2e4a 1px 1px 0px;
}

.testimonial {
    flex: 2 0 auto;
    background-color: #903749;
    height: 432px;
}

.testimonial .container {
    width: 972px;
    margin: auto;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.testimonial .quote {
    color: #45b59e;
    text-shadow: #2b2e4a 0px 2px 4px;
    text-align: justify;
    font-size: 36px;
    font-weight:300;
    font-style: italic;
    width: 824px;
}

.testimonial .source {
    color: #2b2e4a;
    /* text-shadow: #45b59e 2px 2px 4px; */
    display: flex;
    justify-content: flex-end;
    font-size: large;
    font-weight: bold;
    width: 824px;
}

.testimonial .source p {
    width: fit-content;
    background-color: #45b59e;
    padding: 8px;
    border-radius: 20px;
}

.call-to-action {
    flex: 1 0 auto;
    background-color: #2b2e4a;
    height: 288px;
}

.call-to-action .container {
    width: 972px;
    margin: auto;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.call-to-action .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 824px;
    background-color: #e84545;
    padding: 55px 55px;
    border: solid 2px #2b2e4a;
    border-radius: 10px;
}

.box .left-side .main-tagline {
    color: #2b2e4a;
    font-size: larger;
    font-weight: bold;
}

.box .left-side .description {
    color: #2b2e4a;
    font-weight: 500;
}

.box .sign-up {
    background-color: rgb(0 0 0 / 0);
    color: #2b2e4a;
    border: solid 2px #2b2e4a;
    border-radius: 8px;
    font-family: monospace;
    padding: 8px 32px;
    font-weight: bold;
    cursor: pointer;
}

.footer {
    flex: 0 0 auto;
    background-color: #903749;
    height: 50px;
}

.footer .container {
    width: 972px;
    margin: auto;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .copyright {
    color: #45b59e;
    text-shadow: #2b2e4a 0px 2px 0px;
    font-size: 18px;
    font-weight: 500;
}